:root {
    --azul_1: #1800ad;
    --azul_2: #170870;
}

header{
    background-color: var(--azul_2);
    height: 120px;
    width: 100%;
}
.topo_logo {
    background-color: var(--azul_1);
    height: 75px;
}
.logo {
    height: 75px;
}
.links_topo {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    color: rgb(255, 255, 255);
    margin: 1rem;
    margin-top: 1.5rem;

}
body {
    display: grid;
}
main {
    background-color: whitesmoke;
    height: 1000px;

}
footer {
    background-color: var(--azul_1); 
    height: 100px;
    width: 150%;
}
.explicacao_site {
    display: grid;
    height: 100px;
    width: 90%;
    grid-template-columns: 40% 33% 27%;
}
footer p{
    color: white;
    font-weight: bold;
    margin: 1rem;
    text-align: left;
}
.nota_final {
    background-color: var(--azul_2);
    height: 50px;
}
footer h2 {
    color: white;
    font-style: italic;
    font-weight: bold;
    margin: 1rem;
    text-align: left;
}