:root{
--azul: #00397e;
}
h1{
font-size: 50px;
color: var(--azul);
text-align: left;
object-position: top;
text-decoration-color: black;
text-decoration-style: solid;
}
h2{
font-size: 40px;
color: var(--azul);
text-align: center;
}
p{
text-align: center;
font-size: 25px;
}
.conteudo{
align-items: center;
}
.fonte{
    text-align: left;
    font-size: 20px;
}
