:root {
    --azul_1: #1800ad;
    --azul_2: #170870;
}

header{
    background-color: var(--azul_2);
    height: 120px;
    width: 100%;
}
.topo_logo {
    background-color: var(--azul_1);
    height: 75px;
}
.logo {
    height: 75px;
}
.link_topo {
    color: rgb(255, 255, 255);
}
main {
    background-color: whitesmoke;
    height: 1000px;
}
footer {
    background-color: var(--azul_2);
    height: 100px;
    width: 100%;
   
    
}
footer p{
    color: white;
    margin: 1rem;
    text-align: right;
}
footer h2 {
    color: white;
    font-style: italic;
    margin: 1rem;
    text-align: center;
}